<section class="section narrow">
  <div class="subscription-container">
    <div class="subscription-content">
      <h3 class="subscription-heading">
        Book a demo
      </h3>
      <p class="subscription-text">
        Be the first to receive our latest content with the ability to opt-out
        at anytime. We promise to not spam your inbox or share your email with
        any third parties.
      </p>

      <a href="https://panelista.com/?openBookDemo=1" class="black-button">
        Book a demo
      </a>
    </div>
  </div>
</section>
