<section id="subscriptionSection" class="section narrow">
    <div class="subscription-container">
        <div class="subscription-content">
            <h3 class="subscription-heading">
                Join our email list and get notified about new content
            </h3>
            <p class="subscription-text">
                Be the first to receive our latest content with the ability to
                opt-out at anytime. We promise to not spam your inbox or share your
                email with any third parties.
            </p>
            
            <iframe src="https://cdn.forms-content.sg-form.com/f41ffcd3-5e26-11ea-b7cf-3aeda0e63d84" frameborder="0" width="100%" height="470px"></iframe>
        </div>
    </div>
</section>
