<div class="header-offset"></div>
<section class="header-container">
  <a class="logo-link" href="https://panelista.com">
    {{ partial "icons/ui/logo.html" . }}
    <span class="header-hidden">Navigate back to the homepage</span>
  </a>
  <div class="nav-right-side">
    <a data-trans="contact-us-menu-item" href="https://panelista.com/?openContactUs=1" class="header-button"></a>

    <a data-trans="pricing-menu-item" href="https://panelista.com/#pricing" class="header-button"></a>
    
    <a data-trans="articles-menu-item" href="/" class="header-button"></a>
    
    <a data-trans="book-demo-menu-item" href="https://panelista.com/demo" class="header-button primary-button"></a>

    <a data-trans="sign-in-menu-item" href="https://panelista.com/signin" class="header-button"></a>
  </div>

  <div class="nav-mobile">
    <button class="header-button mobile-dropdown-trigger" onclick="toggleMobileDropdown()">
      <img src="/images/menuIcon.svg" class="mobile-dropdown-trigger" />
    </button>

    <div class="mobile-dropdown-content" id="mobileDropdownContent">
      <a data-trans="sign-in-menu-item" href="https://panelista.com/signin" class="header-button"></a>
      <a data-trans="book-demo-menu-item" href="https://panelista.com/demo" class="header-button primary-button"></a>
      <a data-trans="articles-menu-item" href="/" class="header-button"></a>
      <a data-trans="pricing-menu-item" href="https://panelista.com/#pricing" class="header-button"></a>
      <a data-trans="contact-us-menu-item" href="https://panelista.com/?openContactUs=1" class="header-button"></a>
    </div>

    {{ $script := resources.Get "js/mobileDropdown.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
  </div>
</section>

{{ $script := resources.Get "js/toggleLogos.js" }}
<script src="{{ $script.RelPermalink }}"></script>
