.introduction-box {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  margin-left: 1px;
  margin-right: auto;
  padding-bottom: 1px;
  margin-bottom: 35px;
  padding-top: 35px;

  box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);

  p {
    font-size: 22px;
  }
}

.pagebox-container{
  max-width: 944px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 45px 20px;
  margin: 60px auto 60px;
  background: #f9f9f9;
  z-index: 1;
}

.pagebox-content{
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  text-align: center;
}

a.panelista-button {
  padding: 12px 18px;
  background-color: #2b2b2b;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 16px;
}

a.pink-button {
  background-color: #e91060;
  color: white;
}