<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "2.1.2006" }}
                    {{ with .Page.Params.timetoread }} • {{ . }} min{{ end }}
                </div>
            </div>
        </header>
        {{ with .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ . }}">
            <div class="hero-image-text" style="padding: 0 40px;">
                <h3 style="padding: 32px 0 12px 0;">Vad är viktigt för dig när du köper bil på nätet?</h3>
                <p style="padding: 0 0 24px 0;">Vi skickade vår första videofråga till 31 panelister. På bara 72 timmar hade vi fått 18 svar och flera nya insikter!</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>