<section id="articleHero">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "2.1.2006" }}
                    {{ with .Page.Params.timetoread }} • {{ . }} min{{ end }}
                </div>
            </div>
        </header>
        {{ if .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ .Page.Params.hero }}">
            {{ if .Page.Params.hero_image_title }}
            <div class="hero-image-text" style="padding: 0 40px;">
                <h3 style="padding: 32px 0 12px 0;">{{ .Page.Params.hero_image_title }}</h3>
                <p style="padding: 0 0 24px 0;">{{ .Page.Params.hero_image_body }}</p>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>